[submodule "android"]
	path = android
	url = https://github.com/JoaoFelipe/SleepingBeautyAndroid.git
[submodule "website"]
	path = website
	url = https://github.com/xerek/sleepingbeauty.git
[submodule "arduino"]
	path = arduino
	url = https://github.com/tiagopms/SleepingBeautyArduino.git
